#sign-in-form {
  align-items: center;
  align-self: center;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-between;
  justify-self: center;
  padding: 5em 0em;
  width: 35vw;
}

#username-input-container,
#password-input-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2em;
  justify-content: space-between;
  width: 50%;

  label {
    text-align: right;
    width: 35%;
  }

  input {
    height: 100%;
    padding: 2%;
    width: 62%;
  }
}

#login-btn {
  height: 15%;
  width: 15%;
}